{{!--
This footer template is shared across all the pages.
--}}

<footer class="m-footer">
  <div class="friendly-links">
    <h3>友情链接</h3>
    <ul>
      <li><b style="font-size: 1rem;">前端综合：</b></li>
      <li><a href="http://caibaojian.com/" target="_blank">前端开发博客</a></li>
      <li><a href="https://www.zhangxinxu.com/wordpress/" target="_blank">张鑫旭</a></li>
      <li><a href="https://www.ruanyifeng.com/home.html" target="_blank">阮一峰</a></li>
    </ul>
    <ul>
      <li><b style="font-size: 1rem;">JavaScript：</b></li>
      <li><a href="https://javascript.info/" target="_blank">The Modern JavaScript Tutorial</a></li>
      <li><a href="https://caniuse.com/" target="_blank">Can I use</a></li>
    </ul>
  </div>
  <div class="m-footer__content">
    <p class="m-footer-copyright">
      <span>{{@site.title}} &copy; 2018-{{date format="YYYY"}} chly-yile.com, Inc. All Rights Reserved.</span>
    </p>

    <p class="m-footer-copyright jslicense">
      <span style="color: #cccccc;">豫ICP备19032991号</span>
    </p>
  </div>
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  {{#is "post"}}
  <section style="text-align: center;color: white;padding-bottom: 20px;font-size: 0.875rem;">
      <span id="busuanzi_container_page_pv">PV:&nbsp;&nbsp;<span id="busuanzi_value_page_pv"></span></span>
  </section>
  {{/is}}
  {{#is "index"}}
  <section style="text-align: center;color: white;padding-bottom: 20px;font-size: 0.875rem;">
      <span id="busuanzi_container_site_pv">PV:&nbsp;&nbsp;<span id="busuanzi_value_site_pv"></span></span>
      <span style="display: inline-block;padding: 0 10px;">&bull;</span>
      <span id="busuanzi_container_site_uv">UV:&nbsp;&nbsp;<span id="busuanzi_value_site_uv"></span></span>
  </section>
  {{/is}}
</footer>
