{{!--
This template is used for the posts that are marked as pages.
--}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
<div class="main-wrap">
  {{!-- Special header.hbs partial to generate the <header> tag --}}
  {{> header background=feature_image}}
  </section>
  <main>
    <article>
      <div class="l-content">
        <h1 class="tag-cards-title">{{t "Technology Tags"}}</h1>
        {{#get "tags" filter="slug:[linux,algorithm,blog,framework,javascript,nodejs,security,web,docker,custom-ghost,automation]"}}
          {{> tag-card}}
        {{/get}}
      </div>
    </article>
  </main>
</div>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script defer src="{{asset "js/page.js"}}"></script>
{{/contentFor}}
