/* 推荐 */
.yile-no-posts {
  padding-top: 10px;
  text-align: center;
  font-size: 1.2rem;
}

/* 自定义标签页 */
.tag-cards-title {
  text-align: center;
  padding: 40px 0;
  margin: 0;
}
.tag-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
}
.tag-card-wrapper .tag-card-item-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 200px;
  margin: 0 10px 30px;
  text-align: center;
  background-color: var(--secondary-subtle-color);
  color: var(--titles-color);
  cursor: pointer;
  transition: all .3s;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}
.tag-card-wrapper .tag-card-item-wrapper .tag-card-background {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.tag-card-wrapper .tag-card-item-wrapper:hover {
  transform: scale(1.07);
}
.tag-card-wrapper .tag-card-item-wrapper .tag-card-content {
  width: 100%;
  z-index: 2;
}
.tag-card-wrapper .tag-card-item-wrapper .tag-card-content.tag-card-color-white {
  color: white;
}
.tag-card-wrapper .tag-card-item-wrapper h3 {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-bottom: 1rem;
}
.tag-card-wrapper .tag-card-item-wrapper .tag-card-name {
  font-size: 2rem;
}
.tag-card-wrapper .tag-card-item-wrapper .tag-card-posts-count {
  font-size: .875rem;
}
@media (min-width: 576px) {
  .tag-card-wrapper .tag-card-item-wrapper {
    width: calc((100% - 40px)/2);
  }
}
@media (min-width: 768px) {
  .tag-card-wrapper .tag-card-item-wrapper {
    width: calc((100% - 60px)/3);
  }
}
