/* 推荐 */
.yile-no-posts {
  padding-top: 10px;
  text-align: center;
  font-size: 1.2rem;
}

/* page */
.page-header {
  border-bottom: 1px dashed #efd114;
}

/* 自定义标签页 */
.tag-cards-title {
  text-align: center;
  padding: 40px 0;
  margin: 0;
}
.tag-cards-title .tag-cards-cont {
  border-bottom: 1px dashed #efd114;
}
.tag-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
}
.tag-card-wrapper .tag-card-item-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 200px;
  margin: 0 15px 30px;
  text-align: center;
  background-color: var(--secondary-subtle-color);
  border: 1px solid var(--secondary-border-color);
  color: var(--titles-color);
  cursor: pointer;
  transition: all .25s cubic-bezier(.02,.01,.47,1);
}
.tag-card-wrapper .tag-card-item-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -o-box-shadow: var(--article-shadow-normal),0 0 0 transparent;
  box-shadow: var(--article-shadow-normal),0 0 0 transparent;
  transition: all .25s cubic-bezier(.02,.01,.47,1);
}
.tag-card-wrapper .tag-card-item-wrapper .tag-card-background {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.tag-card-wrapper .tag-card-item-wrapper:hover {
  transform: scale(1.06);
}
.tag-card-wrapper .tag-card-item-wrapper .tag-card-content {
  width: 100%;
  z-index: 2;
}
.tag-card-wrapper .tag-card-item-wrapper .tag-card-content.tag-card-color-white {
  color: white;
}
.tag-card-wrapper .tag-card-item-wrapper h3 {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-bottom: 1rem;
}
.tag-card-wrapper .tag-card-item-wrapper .tag-card-name {
  font-size: 2rem;
}
.tag-card-wrapper .tag-card-item-wrapper .tag-card-posts-count {
  font-size: .875rem;
}
@media (min-width: 576px) {
  .tag-card-wrapper .tag-card-item-wrapper {
    width: calc((100% - 60px)/2);
  }
}
@media (min-width: 768px) {
  .tag-card-wrapper .tag-card-item-wrapper {
    width: calc((100% - 90px)/3);
  }
}

/* 联系人页面 */
.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.2em 1em;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  border: none;
  padding: 0.4em 0.6em 0.5em;
  color: #111;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 0.95em;
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: 1px solid #3eb0ef;
  outline-offset: -1px;
}
.contact-form label[for="full-name"],
.contact-form label[for="email-address"] {
  order: -1;
}
.contact-form input {
  order: 0;
  margin-bottom: 0.6em;
}
.contact-form label[for="message"],
.contact-form textarea {
  grid-column-end: span 2;
}
.contact-form input[type="submit"] {
  grid-column-start: 2;
  justify-self: end;
  margin-top: 0.6em;
  background: #3eb0ef;
  color: white;
  width: auto;
}

/* 归档 */
.archives .item {
  border-bottom: 1px dashed #efd114;
}
.l-post-content .js-post-content .archives .item h3 {
  font-size: 2rem;
  margin-top: 1.8rem;
}
.archives .item ul li {
  list-style: none;
}
.archives .item ul li .post-url {
  display: inline-block;
  margin-right: 10px;
  color: #4fc3f7;
  border-bottom: 1px dashed #373b3d;
  text-decoration: none;
}
.archives .item ul li .post-author, .archives .item ul li .post-tag {
  display: inline-block;
  margin-right: 10px;
  font-size: .8rem;
  color: #cccccc;
}

/* 公共底部 */
.m-footer .friendly-links {
  padding: 20px;
  background-color: var(--secondary-subtle-color);
}
.m-footer .friendly-links ul {
  display: flex;
}
.m-footer .friendly-links ul li {
  list-style: none;
  font-size: .9rem;
  margin-left: 15px;
}
.m-footer .friendly-links ul li:first-child {
  margin-left: 0;
}
.m-footer .friendly-links ul li a {
  transition: all .2s;
}
.m-footer .friendly-links ul li a:hover {
  color: #3eb0ef;
}
